.ror-resend-text {
    position: relative;
    top: -30px;
    float: right;
    padding-right: 5px; 
    font-size: 12px;
  }

  .ror-two-factor-error-text{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  

  .ror-2fa-loading-spinner
  {
   float: right
  }

  .ror-2fa-heading-text {
    font-size: 20px;
    font-weight: 500;
  }

  .modal-close {
    outline: none;
  }