.button-accept-blue-tick {
    background-image: url("/assets/images/site/icons/Accept-blue.svg");
    background-position: 10% center;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 52px !important;
}

.button-decline-blue-tick {
    background-image: url("/assets/images/site/icons/Decline-blue.svg");
    background-position: 10% center;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 52px !important;
}
